## Groupng and aggeregation of Data

In [2]:
import pandas as pd
shop_data = {
    "OrderID": [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    "Customer": ["Alice", "Bob", "Charlie", "Diana", "Ethan",
                 "Fiona", "George", "Hannah", "Ian", "Julia"],
    "Product": ["Shampoo", "Soap", "Toothpaste", "Rice", "Sugar",
                "Oil", "Biscuits", "Tea", "Milk", "Bread"],
    "Quantity": [2, 5, 3, 1, 2, 4, 6, 2, 3, 5],
    "Price": [120, 40, 90, 500, 60, 150, 30, 200, 50, 25],
    "Total": [240, 200, 270, 500, 120, 600, 180, 400, 150, 125]
}

# Convert to DataFrame
df= pd.DataFrame(shop_data)

print(df)

   OrderID Customer     Product  Quantity  Price  Total
0      101    Alice     Shampoo         2    120    240
1      102      Bob        Soap         5     40    200
2      103  Charlie  Toothpaste         3     90    270
3      104    Diana        Rice         1    500    500
4      105    Ethan       Sugar         2     60    120
5      106    Fiona         Oil         4    150    600
6      107   George    Biscuits         6     30    180
7      108   Hannah         Tea         2    200    400
8      109      Ian        Milk         3     50    150
9      110    Julia       Bread         5     25    125

In [3]:
df.describe()

         OrderID   Quantity       Price      Total
count   10.00000  10.000000   10.000000   10.00000
mean   105.50000   3.300000  126.500000  278.50000
std      3.02765   1.636392  143.062729  166.60082
min    101.00000   1.000000   25.000000  120.00000
25%    103.25000   2.000000   42.500000  157.50000
50%    105.50000   3.000000   75.000000  220.00000
75%    107.75000   4.750000  142.500000  367.50000
max    110.00000   6.000000  500.000000  600.00000

In [ ]:
grouped=df.groupby()